<ion-view title="Find a Pet">
    <ion-content padding="true" class="has-header has-footer">
    <div id="Search">
        <form>
            <label class="item item-input">
                <span class="input-label">Animal</span>
                <select name="animal" ng-model="pet.animal">
            <option value=""></option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
        </select>
            </label>
            <label class="item item-input">
                <span class="input-label"> Primary Color</span>
                <select name="colors" ng-model="pet.primaryColor">
            <option value=""></option>
            <option value="Black">Black</option>
                    <option value="White">White</option>
                    <option value="Brown">Brown</option>
                    <option value="Gold">Gold</option>
                    <option value="Orange">Orange</option>
                    <option value="Gray">Gray</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label"> Secondary Color</span>
                <select name="colors" ng-model="pet.secondaryColor">
                    <option value=""></option>
            <option value="Black">Black</option>
                    <option value="White">White</option>
                    <option value="Brown">Brown</option>
                    <option value="Gold">Gold</option>
                    <option value="Orange">Orange</option>
                    <option value="Gray">Gray</option>
                    <option value="None">None</option>
                </select>
            </label>
             <label class="item item-input">
                <span class="input-label">Size</span>
                <select name="size" ng-model="pet.size">
            <option value=""></option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
        </select>
            </label>
        </form>
        <button class="button button-balanced button-block">Search</button>
        </div>
        <ion-footer-bar>
	     <ion-tabs class="tabs-icon-only tabs-stable">
    <a class="button-small icon-left ion-map" ng-click="goTomap()">Go to Map</a>
    <a class="button-small icon-left ion-search">Find a Pet</a>
    <a class="button-small icon-left ion-compass" ng-click="goToreport()">Report a Lost Pet</a>
    </ion-tabs>
</ion-footer-bar>
    </ion-content>
</ion-view>